@model IEnumerable<Student>
<h4>Student</h4>
<a class="text-success" asp-action="Create">Create</a>
<hr />
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 p-2">
            <div class="card bg-light">
                <div class="card-body">
                    <div>
                        <a asp-action="Edit">Edit</a>
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete '@item.Name's' account ?')">Delete</a>
                    </div>
                    <div class="d-flex align-items-start">
                        <p class="mb-0">@item.Name - <small>@item.CreatedAt</small></p>                        
                    </div>
                    <div>
                    </div>

                </div>
            </div>
        </div>
    }        
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

