 @model IEnumerable<LogIn>
  <h1 class="fs-2 fw-light">Your Accounts</h1>
   @foreach (var item in Model)
                    {
                              <div class="col-md-3 col-sm-6 p-2">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div>
                                <a class="text-success" asp-action="Edit">Edit</a>
                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                            </div>
                            <div class="d-flex align-items-start">
                                <p class="mb-0">@item.Name - <small>@item.CreatedDate</small></p>
                            </div>
                            <div>
    <a asp-action="Create">Login</a>
</div>

                        </div>
                    </div>
                </div>
                    }           
