@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
    ViewData["Title"] = "Create";
}
<div class="card">
    <div class="card-header">
        <h1 class="fs-3 fw-light">Contact Us!</h1>
      
        </div>
    </div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#home" aria-selected="true" role="tab" >Gmail</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab">Another Gmail</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#mobile" aria-selected="false"  role="tab">Mobile</a>
  </li>
   <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#slack" aria-selected="false" role="tab">Slack</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="home" role="tabpanel">
    <p>You Can contact Deputy Organizer Salma Begum at salma.bcse@gmail.com</p>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel">
    <p>You Can contact Me(The Owner :)), Daniya Syeda at daniyasyeda06@gmail.com</p>
  </div>
  <div class="tab-pane fade" id="mobile" role="tabpanel">
    <p>For an urgent situation, call the organizer with 61+ 451017860</p>
  </div>
  <div class="tab-pane fade" id="slack" role="tabpanel">
    <p>You can send us an invite on Slack so we can chat!</p>
  </div>
</div>
