@model StudentApp.Models.LogIn

@{
    ViewData["Title"] = "Edit";
}

<h1>EditPassword</h1>

<h4>LogIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                 <div class="form-floating">
                       <input asp-for="Name" class="form-control" placeholder="Text" />
                <label asp-for="Name" class="control-label">Name</label>
              
                <span asp-validation-for="Name" class="text-danger"></span>
                                <p>Example: Mrs. Lilly Wattson</p>
            </div>

            <div class="form-floating">
                  <input asp-for="Password" class="form-control" placeholder="Text" />
                <label asp-for="Password" class="control-label"></label>
              
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
